@model IEnumerable<FintechLibrary.DTOs.AccountDTO>

@{
    ViewData["Title"] = "Cuentas";
}

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Número de Cuenta</th>
            <th>Balance</th>
            <th>Tipo de Cuenta</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cuenta in Model)
        {
            <tr id="row-@cuenta.Id">
                <td>@cuenta.Id</td>
                <td>@cuenta.AccountNumber</td>
                <td>@cuenta.Balance</td>
                <td>@cuenta.AccountType</td>
                <td>
                    <!-- Aquí podrías agregar botones para Editar, Ver o Eliminar -->
                    <a class="btn btn-primary btn-update" data-id="@cuenta.Id">Editar</a>
                    <button class="btn btn-danger btn-delete" data-id="@cuenta.Id">Eliminar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p>Valor actual: <span id="contador">0</span></p>
    <button class="btn-sumar">Sumar 1</button>
}
else
{
    <p>No hay cuentas disponibles.</p>
}

<a href="@Url.Action("Create")" class="btn btn-success">Crear Nueva Cuenta</a>

<!-- Modal o formulario de edición -->
<div id="editModal" style="display:none;">
    <h2>Editar Cuenta</h2>
    <form id="editForm">
        <input type="hidden" id="accountId" />
        <label for="accountNumber">Número de Cuenta:</label>
        <input type="text" id="accountNumber" required><br><br>
        
        <label for="balance">Balance:</label>
        <input type="number" id="balance" required><br><br>

        <label for="accountType">Tipo de Cuenta:</label>
        <select id="accountType" required>
            <option value="0">Ahorros</option>
            <option value="1">Corriente</option>
        </select><br><br>


        <button type="submit">Actualizar</button>
        <button type="button" id="cancelEdit">Cancelar</button>
    </form>
</div>
